@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Lobster&family=Open+Sans&family=Oswald&family=Questrial&family=Raleway:ital@1&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Lato&family=Lobster&family=Open+Sans&family=Oswald&family=Questrial&family=Raleway:ital@1&family=Style+Script&display=swap');
$body: #f2cee6;
$stroke: #625de0;
$shadow: #e483cc;
$size: 4rem;
$halftone: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQYV2NUVFT8f//+fUYGBgYGMAEDcA5IBQCKJQVmn76DhAAAAABJRU5ErkJggg==");

// variables
$darkSlate: #2f2e31;
$pink:
#f8cdcc;
$yellow: #fcdc95;
$activeBlue: #9fe6f8;
$white: #ffffff;
$lightPink: #fbe4e3;
$sandyBrown:
#f6b14b;
$dimgray: #6b6c71;

// mixins
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
    -webkit-box-shadow:$top $left $blur $color #{$inset};
    -moz-box-shadow:$top $left $blur $color #{$inset};
    box-shadow:$top $left $blur $color #{$inset};
}
@mixin stroke-width($property) {
	-webkit-text-stroke-width: $property;
	-moz-text-stroke-width: $property;
}

@mixin stroke-color($property) {
	-webkit-text-stroke-color: $property;
	-moz-text-stroke-color: $property;
}

@mixin background-clip($property) {
	-webkit-background-clip: $property;
	-moz-background-clip: $property;
	background-clip: $property;
}

@mixin fill-color($property) {
	-webkit-text-fill-color: $property;
	-moz-text-fill-color: $property;
}
body {
	background-color: $body;
	padding: 5px;
	text-align: center;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3v-_4vHYKwXqYwRpK0Bf4h-s7tY4_B1wN5g&usqp=CAU);
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
	color: $darkSlate;

}

.grid {
	// display: grid;
	// grid-template-columns: 1fr;
	// grid-gap: 1rem;
	@media screen and (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
	}
}

.heading {
	font-size: $size;
	letter-spacing: 6px;
	margin: 0;

	&--stroke {
		@include stroke-width(2px);
		@include stroke-color($stroke);
		color: transparent;
	}

	&--shadow {
		text-shadow: 6px 6px $shadow;
	}

	&--stroke-shadow {
		color: $body;
		text-shadow: -2px 0 $stroke, 0 -2px $stroke, 2px 0 $stroke, 0 2px $stroke,
			2px 2px $stroke, -2px -2px $stroke, -2px 2px $stroke, 2px -2px $stroke,
			6px 6px $shadow;
	}

	&--halftone {
		position: relative;

		&:after {
			background: $halftone repeat;
			@include stroke-width(0);
			@include background-clip(text);
			@include fill-color(transparent);
			font-size: $size;
			letter-spacing: 6px;
			left: calc(50% + 6px);
			top: calc(50% + 6px);
			content: "Hello";
			z-index: -1;
			position: absolute;
			transform: translate(-50%, -50%);
		}

		&-color {
			&:after {
				background-color: $shadow;
			}
		}
	}
}
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  margin:0px;
  text-align:center;
  // background: url(https://static.vecteezy.com/system/resources/previews/002/150/235/original/colorful-hand-drawn-make-up-background-vector.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
font-family: 'Lato', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Style Script', cursive;
  background: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX25180626.jpg);
}

#containerHome {
  color:#999;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  padding-top:200px;
  position:fixed;
  width:100%;
  bottom:45%;
  display:block;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}
img.makeup1 {
        position: absolute;
        left: 160px;
}
.bg-primary {
        background-color: black ;
}
// .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
//         color: #ed495b;
// }
// .nav-link {
//   color: white;
//   &:hover {
//     color: #fee334;
//   }
//   // &:focus {
//   //   color: #ed495b;
//   // }
// }
.bg-primary {
        /* background-color: #007bff !important; */
        // background-color: #ffffff10 !important;
        background-color: $pink !important;
				// color: $yellow;
				color: $dimgray;
}
.navbar-dark .navbar-brand {
        color: #2f2e31;
				font-family: 'Lobster', cursive;
				font-size: 50px;
				font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link {
        color: $darkSlate;
				font-size: x-large;
        font-weight: bolder;
}






// banner styles
.banner {
  height: auto;
  margin: 32px 0px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
  @media (min-width: 768px) {
    height: 450px;
    margin-bottom: 32px;
  }
  .banner-image {
    position: absolute;
    opacity: .25;
    right: 0px;
    top: 0px;
    height: 150px;
    z-index: -1;

      @media (min-width: 768px) {
        display: inherit;
        height: 400px;
        top: 0px;
        opacity: 0.5;
      }
    @media (min-width: 992px) {
        height: 450px;
        top: -50px;
      opacity: 1;
        background-color: #555;
    box-shadow: 0 0 5px 10px $activeBlue;
      right: 3px;
      top: 5px;
      }
    }

  .banner-text {
    max-width: 550px;
    // float: right 25px;
		position: absolute;
		background: url("https://thumbs.dreamstime.com/b/abstract-geometrical-pastel-background-water-misty-rose-colors-watercolor-paper-texture-abstract-geometrical-pastel-133214442.jpg");
		box-shadow: 0 0 5px 10px $pink;
    h1 {
      color: $darkSlate;
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: 3px;
      margin-bottom: 1rem;
    }
    p {
      color: $darkSlate;
      font-size: 1.05rem;
      line-height: 1.75;
    }
		left: -75px;
		top: 145px;
  }
  button {
  border: 0;
  border-radius: 50px;
  padding: .75rem 2.75rem;
  background: $activeBlue;
  color: $white;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.25);
  cursor: pointer;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &:hover {
    -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,.25);
  }
}
}

// card styles
.mb-30 {
  margin-bottom: 30px;
}
.card {
  padding: 16px 24px;
  background: $white;
  height: 100%;
  position: relative;
  border: none;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.15);
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 10;
  h3.card-title {
    font-weight: 700;
    font-size: 1.3rem;
    color: $darkSlate;
  }
  p {
    color: $dimgray;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 72px;
  }
  .card-link {
    position: absolute;
    bottom: 18px;
  }
  &:hover {
    -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
  transform: translateY(-15px);
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,.15);
    cursor: pointer;
  }
  .card-icon {
    margin-bottom: 8px;
    position: relative;
    // top: 0;
    // left: -12px;
  }
}
.Featured-Heading {
	font-weight: bolder;
	background-color: $lightPink;
	box-shadow: 0 0 5px 10px $yellow;
}
label {
        display: inline-block;
        margin-bottom: 0.5rem;
        font-size: x-large;
				font-weight: bolder;
}
.login.container {
	background: url(https://www.freevector.com/uploads/vector/preview/30546/Pastel_Background_vector_5.jpg);
	background-size: cover;
        background-color: pink;
        height: 500px;
        width: 1200px;
				box-shadow: 0 0 5px 10px $pink;
			}

@media (min-width: 1200px) {

.container {
        max-width: 1140px;
}
}
button.auth-button {

        height: 60px;
        width: 180px;
				background-color: $activeBlue;
				color: $darkSlate;
				&:hover {
					background-color: $lightPink;
				}
}
span.navbar-text.mr-2 {
        font-size: x-large;
        font-weight: bolder;
				color: $darkSlate;
}
